h1 {color:#000000; font-family:Impact; font:sans-serif; text-align:center;}
/*putting several fonts in the font-family gives the browser options to choose from, depending which fonts it supports */

body {	margin: 25px;
		margin-top: 50px;
		color:#000000;
		background: -webkit-linear-gradient(left, #00b7ea, #D2E4E8);
		background: -moz-linear-gradient(left, #00b7ea, #D2E4E8);
		background: -o-linear-gradient(left, #00b7ea, #D2E4E8);
		background: -ms-linear-gradient(left, #00b7ea, #D2E4E8);
		/* Go to caniuse.com to see which properties are supported in which browser */
	}

/* altes footer und nav design
footer {
	display:inline-block;
	
	font-variant:small-caps;
}

footer a{
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	
}

footer a:hover{
	background:#000000;
	color:#ffffff;

}
nav a {
	display:inline-block;
	color:#f39405;
	font-weight:bold;
	text-decoration: none;
	font-variant:small-caps;
	border: 3px solid #f39405;
	padding:5px;
	border-radius:10px;
}

nav a:hover{
	background:#f39405;
	color:#ffffff;
	
}
*/

.nav {
	background-color:#f39405;
	padding: 15px;
	list-style-type:none;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;

}

.nav li {
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	font-variant:small-caps;
	

}

.nav a {
	text-decoration:none;
	color:#000000;
	font-size:20px;
}

.nav a:hover {
	color:#FFFFFF;
}

.nav a:focus {
	color:#FFFFFF;
}

.footer {
	background-color:#f39405;
	padding:10px;
	display:inline-block;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;

}

.footer a{
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	color:#000000;
	font-variant:small-caps;
}

.footer a:hover{
	color:#FFFFFF;
}
.footer a:focus{
	color:#FFFFFF;
}

